<%= simple_form_for(@secret, html: { class:'form-horizontal' }) do |f| %></br>
	<div class="form-group">	
		<%= f.text_area :title, placeholder: "Το μυστικό σας εδώ", class: "form-control form-style", maxlength: 1000 %> <br>Checkin:
		<%= f.text_area :description, placeholder: "πχ Τμήμα Πολιτικών Μηχανικών, Κυλικείο, κλπ", class: "form-control form-style", maxlength: 1000 %>
		<div class="field">
    <%= f.label :check_in %><br />
    <%= f.select :check_in, "<option>Τμήμα Πολιτικών Μηχανικών</option><option>Κυλικείο</option><option>Μηχανικοι</option><option>Λογιστικη</option>".html_safe,{}, :id => "tmimata" %>
  </div>
	</div>
	<h4 class="text-muted"><small>*max 1000 chars</small></h4><br/>
	<%= f.button :submit, "Υποβολή" %>

<% end %>